{% extends 'main.html' %}
{% block content %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Login">
    </form>

{% endblock content %}