{% extends 'main.html' %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete  <b>"{{ object.title }}"</b>?</p>
        <a href="{% url 'projects' %}">Go Back</a>
        <input type="submit" value="Confirm">
    </form>
{% endblock content %}